# WebStorm
.idea

# variables, env etc.
packer/variables.json

# terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.*.info
*.tfstate.backup
*.tfvars
.terraform/

# ansible
*.retry
jdauphant.nginx
ansible/vault.key
